/*color variables*/
$header-cream:#fffded;
$th-red:#800000;
$th-white:white;
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: $th-white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid $th-red;
    background-color: $header-cream;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
	background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, $th-white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, $header-cream 30%, $th-white 50%, $header-cream 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, $header-cream 30%, $th-white 50%, $header-cream 80%, #f6bb73 100%);
	background-image: linear-gradient(
        30deg, #f6bb73 0%, $header-cream 30%, $th-white 50%, $header-cream 80%, #f6bb73 100%);
        
        h2 {
            font-size: 175%;
            color: $th-red;
        }

        h3 {
            font-size: 130%;
            font-style: italic;
        }

        img {
            float: left;
            padding: 0 30px;
        }
}


.shadow {
	text-shadow: 2px 2px 2px $th-red;
}
/* the styles for the form */
fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
}
legend {
    color: #931420;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 12em;
    text-align: right;
}
label, input, select {
	font-size: 90%;
}
input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}
input:required, input[required] {
	border: 3px solid red;
}
input:valid {
	border: 1px solid black;
}
input:invalid {
	box-shadow: none;
}
br {
    clear: both;
}
#buttons input {
	width: 10em;
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    position: relative;
    
    li {
        float: left;

        a {
            display: block;
            width: 160px;
            text-align: center;
            padding: 1em 0;
            text-decoration: none;
            background-color: $th-red;
            color: $th-white;
            font-weight: bold;

            &.current {
                color: yellow;
            }
        }

        &:hover > ul {
            display: block;
        }
    }

    ul {
        display: none;
        position: absolute;
        top: 100%;

        li {
            float: none;
        }
    }

}


#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width: 525px;
	float: right;
    padding: 0 20px 20px 20px;
    
    h1 {
        font-size: 150%;
        color: $th-red;
        padding: .5em 0 .25em 0;
        margin: 0;
    }
}


/* the styles for the aside */
aside {
	width: 215px;
	float: right;
    padding: 0 0 20px 20px;
    
    h2 {
        color: $th-red;
        font-size: 130%;
        padding: .5em 0 .25em 0;
    }

    h3 {
        font-size: 105%;
        padding-bottom: .25em;
    }

    img {
        padding-bottom: 1em;
    }
    
}

/* the styles for the footer */
footer {
	background-color: #931420;
    clear: both;
    
    p {
        text-align: center;
        color: $th-white;
        padding: 1em 0;
    }
}
